<%- include("header.ejs")%>


<!--Preload Default Background Image-->
<link rel="preload" href="/public/images/backgrounds/placeholder.jpg" as="image" crossorigin="anonymous" />
<!--Preload Background Images-->
<% for (var i = 0; i < message.length; i++) { %>
<% if (message[i].BackgroundImage) { %>
<link rel="preload" href="./img/<%=message[i].BackgroundImage%>" as="image" crossorigin="anonymous" />
<% } %>
<% } %>

<!--Preload Default Hint Image-->
<link rel="preload" href="/public/images/hint_people/Hint-Person-Placeholder.png" as="image" crossorigin="anonymous" />
<!--Preload Hint Images-->
<% for (var i = 0; i < message.length; i++) { %>
<% if (message[i].HintImage) { %>
<link rel="preload" href="./img/<%=message[i].HintImage%>" as=" image" crossorigin="anonymous" />
<% } %>
<% } %>

<!--Preload Logo-->
<link rel="preload" href="./img/logo.png" as="image" crossorigin="anonymous" />

</head>

<body>
    <div style="display: none;">
        <audio id="correct_Audio" controls>
            <source src="/public/audio/notification-sound-7062.mp3" type="audio/mpeg">
        </audio>
        <audio id="incorrect_Audio" controls>
            <source src="/public/audio/playernocanselect-37979.mp3" type="audio/mpeg">
        </audio>
    </div>
    <span id="sheet-data" style="display: none;"><%= JSON.stringify(message) %></span>
    <main id=" root" title="main" class="contrast-bg">
        <quiz-start>
            <quiz-title><%= title%></quiz-title>
            <p style="font-size: 7vh">How much do you know?</p>
            <quiz-start-button class="button" onclick="setStateMain()">Begin!</quiz-start-button>
        </quiz-start>

        <quiz-main>
            <quiz-title><%= title%></quiz-title>
            <quiz-question>What?</quiz-question>
            <quiz-answers>
                <quiz-answer class="button">A</quiz-answer>
                <quiz-answer class="button">B</quiz-answer>
                <quiz-answer class="button">C</quiz-answer>
                <quiz-answer class="button">D</quiz-answer>
            </quiz-answers>

            <quiz-status>
                <quiz-current-question>10/10</quiz-current-question>
                <quiz-score>100%</quiz-score>
                <quiz-tries>Tries: 3/3</quiz-tries>
            </quiz-status>

            <quiz-hint>
                <quiz-hint-toggle></quiz-hint-toggle>
                <quiz-hint-text>?</quiz-hint-text>
            </quiz-hint>

            <quiz-nav>
                <quiz-restart class="material-symbols-outlined" onclick="setStateStart()">undo</quiz-restart>
                <quiz-next class="material-symbols-outlined">play_arrow</quiz-next>
            </quiz-nav>
        </quiz-main>

        <quiz-finish>
            <quiz-title><%= title%></quiz-title>
            <quiz-results>
                <h2>Congratulations</h2>
                <p>You have completed the quiz!</p>
                <p>Your score is:</p>
            </quiz-results>
            <quiz-restart class="button" onclick="setStateStart()">
                Restart!
            </quiz-restart>
        </quiz-finish>
        <quiz-audio-toggle class="material-symbols-outlined"></quiz-audio-toggle>
        <quiz-logo></quiz-logo>
    </main>

    <script src="./public/javascripts/service.js" defer>
    </script>
    <script src="./public/javascripts/quiz.js">
    </script>
</body>
