<%- include("header.ejs")%>

<!--Preload Default Background Image-->
<link rel="preload" href="./public/images/bg-placeholder.jpg" as="image" crossorigin="anonymous" />
<!--Preload Background Images-->
<% for (var i = 0; i < message.length; i++) { %>
<% if (message[i].BackgroundImage) { %>
<link rel="preload" href="./img/<%=message[i].BackgroundImage%>" as="image" crossorigin="anonymous" />
<% } %>
<% } %>

<!--Preload Default Hint Image-->
<link rel="preload" href="./public/images/Hint-Person-Placeholder.png" as="image" crossorigin="anonymous" />
<!--Preload Hint Images-->
<% for (var i = 0; i < message.length; i++) { %>
<% if (message[i].HintImage) { %>
<link rel="preload" href="./img/<%=message[i].HintImage%>" as="image" crossorigin="anonymous" />
<% } %>
<% } %>

<!--Quiz Main Script-->
<script src="./public/javascripts/quiz.js" defer></script>

</head>

<body>
    <div style="display: none;">
        <audio id="correct_Audio" controls>
            <source src="/public/audio/notification-sound-7062.mp3" type="audio/mpeg">
        </audio>
        <audio id="incorrect_Audio" controls>
            <source src="/public/audio/playernocanselect-37979.mp3" type="audio/mpeg">
        </audio>
    </div>
    <span id="sheet-data" style="display: none;"><%= JSON.stringify(message) %></span>
    <main id=" root" title="main" class="contrast-bg">
        <quiz-start>
            <quiz-title><%= title%></quiz-title>
            <p style="font-size: 7vh">How much do you know?</p>
            <quiz-start-button class="button animate-button" style="width: 50%;"
                onclick="setStateMain()">Begin!</quiz-start-button>
        </quiz-start>

        <quiz-main>
            <quiz-title><%= title%></quiz-title>
            <quiz-question>What?</quiz-question>
            <quiz-answers>
                <quiz-answer class="button text_1495" onclick="answerEvent(0)">A</quiz-answer>
                <quiz-answer class="button text_233" onclick="answerEvent(1)">B</quiz-answer>
                <quiz-answer class="button text_396" onclick="answerEvent(2)">C</quiz-answer>
                <quiz-answer class="button text_2995" onclick="answerEvent(3)">D</quiz-answer>
            </quiz-answers>

            <quiz-status>
                <quiz-tries>Tries: 3/3</quiz-tries>
                <quiz-current-question>10/10</quiz-current-question>
                <quiz-score>100%</quiz-score>
            </quiz-status>

            <quiz-hint>
                <div>
                    <p style="padding: 0; margin: 0;">Press me for a hint</p>
                    <quiz-hint-toggle onclick="toggleHint()" style="padding: 0; margin: 0;"></quiz-hint-toggle>
                </div>
                <quiz-hint-text class="hidden">?</quiz-hint-text>
            </quiz-hint>

            <quiz-nav>
                <quiz-restart class="material-symbols-outlined" onclick="setStateStart()">undo</quiz-restart>
                <quiz-next class="material-symbols-outlined" onclick="nextQuestion()">play_arrow</quiz-next>
            </quiz-nav>
        </quiz-main>

        <quiz-finish>
            <quiz-title><%= title%></quiz-title>
            <quiz-results>
                <h2>Congratulations</h2>
                <p>You have completed the quiz!</p>
                <p>Your score is:</p>
            </quiz-results>
            <quiz-restart class="button" onclick="setStateStart()">
                Restart!
            </quiz-restart>
        </quiz-finish>
        <quiz-audio-toggle class="material-symbols-outlined button" onclick="toggleAudio()">volume_up
        </quiz-audio-toggle>
        <quiz-logo></quiz-logo>
    </main>
</body>
